
#presentation{
    width: 480px;
    height: 120px;
    padding: 20px;
    margin: auto;
    background: #FFF;
    margin-top: 10px;
    box-shadow: 0 3px 15px -5px rgba(0,0,0,0.1); 
    transition: all 0.3s; 
    border-radius: 10px;
    
  }
  
  #presentation:hover{
    box-shadow: 0 12px 28px -5px rgba(0,0,0,0.13);
    transition: all 0.3s;
    transform: translateZ(10px);
  }
  
  #floating-button{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: #db4437;
    position: fixed;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.2);
  }
  
  .plus{
    color: white;
    position: absolute;
    top: 0;
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 0;
    margin: 0;
    line-height: 55px;
    font-size: 38px;
    font-family: 'Roboto';
    font-weight: 300;
    animation: plus-out 0.3s;
    transition: all 0.3s;
  }
  
  #container-floating{
    position: fixed;
    width: 70px;
    height: 70px;
    bottom: 30px;
    right: 30px;
    z-index: 50px;
  }
  
  #container-floating:hover{
    height: 400px;
    width: 90px;
    padding: 30px;
  }
  
  #container-floating:hover .plus{
    animation: plus-in 0.15s linear;
    animation-fill-mode: forwards;
  }
  
  .edit{
    position: absolute;
    top: 0;
    display: block;
    bottom: 0;
    left: 0;
    display: block;
    right: 0;
    padding: 0;
    opacity: 0;
    margin: auto;
    line-height: 65px;
    transform: rotateZ(-70deg);
    transition: all 0.3s;
    animation: edit-out 0.3s;
  }
  
  #container-floating:hover .edit{
    animation: edit-in 0.2s;
     animation-delay: 0.1s;
    animation-fill-mode: forwards;
  }
  
  @keyframes edit-in{
      from {opacity: 0; transform: rotateZ(-70deg);}
      to {opacity: 1; transform: rotateZ(0deg);}
  }
  
  @keyframes edit-out{
      from {opacity: 1; transform: rotateZ(0deg);}
      to {opacity: 0; transform: rotateZ(-70deg);}
  }
  
  @keyframes plus-in{
      from {opacity: 1; transform: rotateZ(0deg);}
      to {opacity: 0; transform: rotateZ(180deg);}
  }
  
  @keyframes plus-out{
      from {opacity: 0; transform: rotateZ(180deg);}
      to {opacity: 1; transform: rotateZ(0deg);}
  }
  
  .nds{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: fixed;
    z-index: 300;
    transform:  scale(0);
    cursor: pointer;
  }
  
  .nd1{
    background: #d3a411;
    right: 40px;
    bottom: 120px;
    animation-delay: 0.2s;
      animation: bounce-out-nds 0.3s linear;
    animation-fill-mode:  forwards;
  }
  
  .nd3{
    background: #3c80f6;
    right: 40px;
    bottom: 180px;
    animation-delay: 0.15s;
      animation: bounce-out-nds 0.15s linear;
    animation-fill-mode:  forwards;
  }
  
  .nd4{
    background: #ba68c8;
    right: 40px;
    bottom: 240px;
    animation-delay: 0.1s;
      animation: bounce-out-nds 0.1s linear;
    animation-fill-mode:  forwards;
  }
  
  @keyframes bounce-nds{
      from {opacity: 0;}
      to {opacity: 1; transform: scale(1);}
  }
  
  @keyframes bounce-out-nds{
      from {opacity: 1; transform: scale(1);}
      to {opacity: 0; transform: scale(0);}
  }
  
  #container-floating:hover .nds{
    
    animation: bounce-nds 0.1s linear;
    animation-fill-mode:  forwards;
  }
  
  #container-floating:hover .nd3{
    animation-delay: 0.08s;
  }
  #container-floating:hover .nd4{
    animation-delay: 0.15s;
  }
  #container-floating:hover .nd5{
    animation-delay: 0.2s;
  }
  
  .letter{
    font-size: 23px;
    font-family: 'Roboto';
    color: white;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    line-height: 40px;
  }
  
  .reminder{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    line-height: 40px;
  }
  
  .profile{
    border-radius: 50%;
    width: 40px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 20px;
  }
  .smm-banner-section .smm-banner-text-content h1 {
      font-size: 48px;
      font-weight: 600;
      line-height: 1.25;
      position: relative;
      padding: 0px 0px 0px;
  }
  .smm-feature-section {
      padding: 5px 0px 70px;
      background-color: #0a0d18;
  }
  .smm-partner-section .smm-partner-wrapper {
      z-index: 5;
      padding: 60px;
      background-color: #fff;
      border-top: 2px solid #ffffff;
      box-shadow: 0px 10px 20px 0px rgb(0 0 0 / 2%);
  }
  .smm-main-header .navbar-nav {
      display: inline-table;
  }
  .smm-skill-section .smm-skill-img {
      top: 0;
      left: 0;
      width: 55%;
      position: absolute;
  }
  /* .smm-banner-section .smm-banner-wrapper .smm-banner-img {
      top: 220px;
      right: -140px;
      left: 545px;
      position: absolute;
      width: 1271px;
      animation: zoomIn 1.7s both 0.3s;
      border-radius: 32px;
  } */
  
  
  .card {
      position: relative;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
      flex-direction: column;
      min-width: 0;
      word-wrap: break-word;
      background-color: #fff;
      background-clip: border-box;
      border: 1px solid rgba(0, 0, 0, 0);
      border-radius: 0.75rem;
  }
  .img-fluid {
      max-width: 100%;
      height: auto;
      border-radius: 0.75rem;
  }
  .str-home {
      margin: 0;
      padding: 0;
      color: #494949;
      font-size: 16px;
      overflow-x: hidden;
      line-height: 1.625;
      font-family: "Roboto";
      -moz-osx-font-smoothing: antialiased;
      -webkit-font-smoothing: antialiased;
  }
  .str-footer-area .footer-content {
      padding-bottom: 80px;
  }
  
  *, ::after, ::before {
      box-sizing: border-box;
  }
  
  .row {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-right: -15px;
      margin-left: -15px;
  }
  .str-home {
      margin: 0;
      padding: 0;
      color: #494949;
      font-size: 16px;
      overflow-x: hidden;
      line-height: 1.625;
      font-family: "Roboto";
      -moz-osx-font-smoothing: antialiased;
      -webkit-font-smoothing: antialiased;
  }
  .str-footer-area .footer-content .str-ft-about-widget p {
      line-height: 1.688;
      padding: 15px 0px 30px;
  }
  
  .pera-content p {
      margin-bottom: 0;
  }
  p {
      margin-top: 0;
      margin-bottom: 1rem;
  }
  .str-footer-area .footer-content .str-ft-about-widget .ft-about-btn a {
      color: #fff;
      height: 35px;
      width: 100px;
      display: block;
      font-size: 15px;
      font-weight: 700;
      line-height: 35px;
      border-radius: 3px;
      text-align: center;
      font-family: "Poppins";
      box-shadow: -1.045px 9.945px 16px 0px rgb(68 46 200 / 40%);
      background-image: linear-gradient(-30deg, #008df9 0%, #6006b3 100%);
  }
  
  .str-footer-area .footer-content .str-ft-about-widget p {
      line-height: 1.688;
      padding: 15px 0px 30px;
  }
  
  .str-footer-area .footer-content .str-footer-widget .str-newslatter-widget form {
      position: relative;
      margin-top: 25px;
  }
  .str-footer-area .footer-content .str-footer-widget .str-newslatter-widget input {
      width: 100%;
      border: none;
      height: 45px;
      padding: 0px 30px;
      background-color: #eeeeee;
  }
  button, input {
      overflow: visible;
  }
  
  button, input, optgroup, select, textarea {
      margin: 0;
      font-family: inherit;
      font-size: inherit;
      line-height: inherit;
  }
  .str-footer-area .footer-content .str-footer-widget .str-newslatter-widget button {
      top: 0;
      right: 0;
      width: 60px;
      color: #fff;
      height: 100%;
      border: none;
      position: absolute;
      background-color: #010101;
      transition: 0.3s all ease-in-out;
  }
  .str-footer-area .footer-content .str-footer-widget .str-newslatter-widget .str-social-footer {
      margin-top: 20px;
  }
  .str-footer-area .footer-content .str-footer-widget .str-newslatter-widget .str-social-footer a:nth-child(1) {
      color: #16599b;
  }
  .str-footer-area .footer-content .str-footer-widget .str-newslatter-widget .str-social-footer a {
      margin-right: 18px;
  }
  .str-footer-area .footer-content .str-footer-widget .str-office-widget {
      padding-left: 10px;
  }
  .str-footer-area .footer-content .str-footer-widget .str-widget-title {
      color: #080808;
      font-size: 24px;
      font-weight: 600;
      padding-bottom: 25px;
  }
  .str-footer-area .footer-content .str-footer-widget .str-office-widget .str-office-icon-text {
      padding-bottom: 10px;
  }
  .str-footer-area .footer-content .str-footer-widget .str-office-widget .str-office-icon-text .str-office-icon {
      margin-right: 12px;
  }
  
  .float-left {
      float: left!important;
  }
  .str-footer-area .footer-content .str-footer-widget .str-office-widget .str-office-icon-text .str-office-icon i {
      text-shadow: -1.045px 9.945px 16px rgb(68 46 200 / 40%);
      background-image: linear-gradient(125deg, #6407c1 0%, #324add 49%, #008df9 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  }
  .str-footer-area .footer-content .str-footer-widget .str-office-widget .str-office-icon-text p {
      max-width: 140px;
      font-size: 14px;
      overflow: hidden;
      line-height: 1.714;
  }
  .pera-content p {
      margin-bottom: 0;
  }
  p {
      margin-top: 0;
      margin-bottom: 1rem;
  }
  .str-footer-area .str-copywright-text {
      color: rgb(255, 255, 255);
      padding: 15px 0;
      font-size: 14px;
      font-family: "Poppins";
      background-color: #0f2330;
  }
  a:hover, a:focus{
      outline: none;
      text-decoration: none;
  }
  #accordion .panel{
      box-shadow: none;
      border: none;
      border-radius:0;
      margin-bottom: 6px;
      border-left:5px solid #0f3a99;
  }
  #accordion .panel-heading{
      padding:0;
      background-color:#fff;
  }
  #accordion .panel-title a{
      display: block;
      color: #333;
      font-size: 15px;
      font-weight: bold;
      padding: 14px 40px;
      background: #f5f5f5;
      text-transform: uppercase;
      border-bottom: 1px solid #d3d3d3;
      position: relative;
  }
  #accordion .panel-title a.collapsed{
      border-top: 0;
      color: #333;
      background: #eee;
      border-bottom:1px solid transparent;
  }
  #accordion .panel-title a:before,
  #accordion .panel-title a.collapsed:before{
      content: "\f068";
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      position: absolute;
      top: 10px;
      left: 15px;
      font-size: 14px;
      line-height: 24px;
      color: #0f3a99;
  }
  #accordion .panel-title a.collapsed:before{
      content: "\f067";
  }
  #accordion .panel-body{
      color: #000000;
      font-size: 14px;
      line-height: 20px;
      border-top: 0 none;
      background: #eee;
      padding: 15px 27px;
  }
  .smm-skill-section {
      padding: 0px 0px 80px;
      background-color: #102fa5;
      padding-bottom: 0px;
  }
  .text-gradient__indigo-red {
      padding-right: 0.05em;
      background-image: linear-gradient(207deg,#ef4848 23%,#6366f1 87%);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
  }
  .str-get-in-touch-section {
      padding-bottom: 110px
  }
  
  section {
      overflow: hidden;
  }
  .row {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-right: -15px;
      margin-left: -15px;
  }
  .str-get-in-touch-section .str-get-touch-icon-text {
      z-index: 1;
      width: 100%;
      padding: 15px;
      position: relative;
      display: inline-block;
      border: 1px solid #e9eaf6;
  }
  .str-get-in-touch-section .str-get-touch-icon-text .str-get-touch-icon {
      height: 72px;
      width: 70px;
      line-height: 70px;
      margin-right: 14px;
      background-color: #fff;
  }
  
  .text-center {
      text-align: center!important;
  }
  .float-left {
      float: left!important;
  }
  img {
      max-width: 100%;
      height: auto;
  }
  
  img {
      vertical-align: middle;
      border-style: none;
  }
  .str-get-in-touch-section .str-get-touch-icon-text .str-get-touch-text {
      padding-top: 10px;
  }
  .str-get-in-touch-section .str-get-touch-icon-text .str-get-touch-text h3 {
      color: #010101;
      font-size: 20px;
      font-weight: 700;
      padding-bottom: 1px;
      transition: 0.3s all ease-in-out;
  }
  .str-get-in-touch-section .str-get-touch-icon-text .str-get-touch-text span {
      color: #444444;
      font-size: 15px;
      transition: 0.3s all ease-in-out;
  }
  .str-get-in-touch-section .str-get-touch-icon-text:after {
      top: 0;
      left: auto;
      right: 0;
      width: 0%;
      z-index: -1;
      content: "";
      height: 100%;
      position: absolute;
      transition: 0.5s all ease-in-out;
      background-image: linear-gradient(90deg, #1422b5 1%, #0c57da 49%, #048cff 100%);
  }

  .class-schedule {
    background: #000000 url(img/class-schedule.png) 0 0 no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 100px 0 0;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
.class-schedule .section-title h2 {
    color: #ffffff;
    margin-bottom: 60px;
}
.class-schedule-wrap {
    background: #fb5b21;
    padding: 65px 50px;
}
.class-schedule-wrap ul.nav-tabs {
    border: none;
    margin-bottom: 45px;
}

.class-schedule-wrap .nav-tabs {
    text-align: center;
}
.nav-tabs {
    border-bottom: 1px solid #ddd;
}
.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.class-schedule-wrap .nav-tabs li {
    display: inline-block;
    float: inherit;
    margin: 0;
}

.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}
.nav>li {
    position: relative;
    display: block;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.class-schedule-wrap .nav-tabs {
    text-align: center;
}
.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
user agent stylesheet
ul {
    list-style-type: disc;
}
.class-schedule-wrap .nav-tabs li.active a {
    background: #ffffff;
    color: #111111;
    border: none;
}
.class-schedule-wrap .nav-tabs li a {
    background: #dd4813;
    border: none;
    border-radius: 30px;
    color: #ffffff;
    margin-right: 10px;
    margin-bottom: 5px;
    padding: 12px 34px;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}
.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
a {
    color: #fb5b21;
    transition: all 0.3s ease 0s;
    text-decoration: none;
}
a {
    background-color: transparent;
}
a {
    color: #337ab7;
    text-decoration: none;
}
a {
    background-color: transparent;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
}
.class-schedule-wrap .nav-tabs li a {
    background: #dd4813;
    border: none;
    border-radius: 30px;
    color: #ffffff;
    margin-right: 10px;
    margin-bottom: 5px;
    padding: 12px 34px;
}

.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
a {
    color: #fb5b21;
    transition: all 0.3s ease 0s;
    text-decoration: none;
}
a {
    background-color: transparent;
}
a {
    color: #337ab7;
    text-decoration: none;
}
a {
    background-color: transparent;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
user agent stylesheet
li {
    text-align: -webkit-match-parent;
}
.class-schedule-wrap .nav-tabs {
    text-align: center;
}
.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
ul {
    list-style-type: disc;
}
.wrapper {
    width: 100%;
    -webkit-box-shadow: 0px 21px 41px -13px rgb(0 0 0 / 18%);
    -moz-box-shadow: 0px 21px 41px -13px rgba(0, 0, 0, 0.18);
    box-shadow: 0px 21px 41px -13px rgb(0 0 0 / 18%);
}
@media (min-width: 992px){}
.info-wrap {
    margin-top: -20px;
    margin-bottom: -20px;
    border-radius: 5px;
}
.bg-primary {
    background: #1089ff !important;
}
.info-wrap h3 {
    color: #fff;
}
.info-wrap .dbox {
    width: 100%;
    color: rgb(255 255 255 / 80%);
    margin-bottom: 25px;
}
.info-wrap .dbox .icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
}

.align-items-center {
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
}
.justify-content-center {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
}
.d-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}
*, *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
div {
    display: block;
}
.info-wrap .dbox p a {
    color: #fff;
}
.footer-area {
    background: #121212;
    color: #b3b3b3;
    font-size: 14px;
    padding: 100px 0 75px;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
@media (min-width: 1200px){}
.col-lg-3 {
    width: 25%;
}
@media (min-width: 1200px){}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9 {
    float: left;
}
@media (min-width: 992px){}
.col-md-3 {
    width: 25%;
}
@media (min-width: 992px){}
.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
    float: left;
}
@media (min-width: 768px){}
.col-sm-6 {
    width: 50%;
}
@media (min-width: 768px){}
.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
    float: left;
}
.footer-area h3 {
    color: #ffffff;
    font-size: 22px;
    margin-bottom: 30px;
    text-transform: capitalize;
}
h3 {
    color: #111111;
    font-size: 20px;
    text-transform: capitalize;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
ol, ul {
    margin-top: 0;
    margin-bottom: 10px;
}
@media (min-width: 1200px){
.col-lg-3 {
    width: 25%;
}}
@media (min-width: 1200px){
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9 {
    float: left;
}}

@media (min-width: 992px){
.col-md-3 {
    width: 25%;
}}
@media (min-width: 992px){
.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
    float: left;
}}
@media (min-width: 768px){
.col-sm-6 {
    width: 50%;
}}
@media (min-width: 768px){
.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
    float: left;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
div {
    display: block;
}
.footer-area {
    background: #121212;
    color: #b3b3b3;
    font-size: 14px;
    padding: 100px 0 75px;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
ol, ul {
    margin-top: 0;
    margin-bottom: 10px;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.corporate-address ul li {
    padding-bottom: 12px;
}


.corporate-address ul li .fa {
    color: #fb5b21;
    padding-right: 8px;
}


* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
i {
    font-style: italic;
}
.corporate-address ul li .fa {
    color: #fb5b21;
    padding-right: 8px;
}


.fa-fax:before {
    content: "\f1ac";
}

:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.corporate-address ul li {
    padding-bottom: 12px;
}
a {
    color: #fb5b21;
    transition: all 0.3s ease 0s;
    text-decoration: none;
}
a {
    color: #fb5b21;
    transition: all 0.3s ease 0s;
    text-decoration: none;
}

a {
    background-color: transparent;
}
.social-icons {
    margin-top: 35px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.social-icons ul li {
    display: inline-block;
    margin-right: 8px;
}
.social-icons ul li a {
    display: block;
    background: #fb5b21;
    border-radius: 50%;
    color: #ffffff;
    height: 32px;
    line-height: 32px;
    text-align: center;
    width: 32px;
}
.copy-right-area {
    background: #333333;
    padding: 15px 0;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
@media (min-width: 1200px){
.col-lg-9 {
    width: 82%;
}}
.copy-right-area .copy-right {
    color: #999999;
    font-size: 14px;
}